*{
    padding: 0px;
    margin: 0px;
}
body{
    font-family: sans-serif, 'Segoe UI', Tahoma;
}

/***start navbar***/
.navbar{
    background-image: linear-gradient(to right, #a50a69, #520632);
    padding: 0px !important;
}
.navbar-brand img{
    height: 40px;
    padding-left: 20px;
}

.navbar-nav li{
    padding: 0px 10px;
}
.navbar-nav li a{
    color: #fff !important;
    font-weight: 500;
    float: right;
    text-align: left;
}
#nav-Bar{
    position: sticky;
    z-index: 8;
    top: 0;
}
.fa-bars{
    color: #fff ;
    font-size:30px !important ;
}
/***end navbar***/
/****start header section******/
#header-section{
    background-image: linear-gradient(to right, #a50a69, #520632);
color: #fff;
padding: 60px  0 0 0;

}
#header-section h1{
    margin-top: 60px;
}
#header-section i{
    font-size: 27px;
    margin: 10px;
}
#header-section a{
    text-decoration: none;
    color: #fff;
}
#header-section a .title-icon{
    font-size: 18px;
}


/********Section services*********/
.service-img{
    width: 80px;
    margin-top: 20px;
}
.services{
    padding: 20px;
    margin-top: 20px;
}
.services h4
{
    text-transform: uppercase;
    margin-top: 20px;
}

.services-title::before{
    content: "";
    margin: auto;
    height: 4px;
    width: 180px;
    background-color:#a50a69 ;
    display: block;
    transform: translateY(60px);
}
.services-title::after{
    content: "";
    margin: auto;
    height: 7px;
    width: 60px;
    background-color:#a50a69 ;
    display: block;
    transform: translateY(16px);
}
#services .btn-primary{
    background-image: linear-gradient(to right, #a50a69, #520632);
border-radius: 20px;
outline: none !important;
padding:  8px 25px ;
    border: none ;

}
.btn{
    outline: none !important;

}
.btn1{
    outline: none;


}
/********end Section services*********/
